{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": [
                "*.yml",
                "*.yaml",
                "*.md",
                "package.json",
                "package-lock.json"
            ],
            "options": { "tabWidth": 2 }
        }
    ]
}
